@page "/learning-entries"
@rendermode InteractiveServer
@inherits GridPageComponentBase<LearningEntryGridItem, Guid>

@using Humanizer
@using AnkiBridge.Web.Components.Abstractions
@using AnkiBridge.Web.Features.Learning.Models

<PageTitle>Learning entries - AnkiBridge</PageTitle>

<h3>Learning entries</h3>

<div class="wrapper">
    <FluentToolbar Orientation="Orientation.Horizontal">
        <div class="toolbar-button-group">
            <FluentButton OnClick="GoToCreatePage"
                          IconStart="@(new Icons.Regular.Size20.Add())">
                Create
            </FluentButton>
            <FluentButton OnClick="RefreshDataAsync"
                          Loading="@IsRefreshing"
                          IconStart="@(new Icons.Regular.Size20.ArrowClockwise())">
                Refresh
            </FluentButton>
        </div>

        <FluentDivider Orientation="Orientation.Vertical" Style="height: 20px;" />

        <div class="toolbar-button-group">
            <FluentButton Disabled="@(!IsSingleItemSelected)"
                          IconStart="@(new Icons.Regular.Size20.Eye())">
                View
            </FluentButton>
            <FluentButton Disabled="@(!IsSingleItemSelected)"
                          IconStart="@(new Icons.Regular.Size20.Edit())">
                Edit
            </FluentButton>
        </div>

        <FluentDivider Orientation="Orientation.Vertical" Style="height: 20px;" />

        <div class="toolbar-button-group" style="display:flex">
            <FluentMenuButton ButtonAppearance="Appearance.Neutral"
                              Text="Anki"
                              IconStart="@(new Icons.Regular.Size20.Apps())">
                <FluentMenuItem Id="anki-create-notes"
                                OnClick="ShowCreateNotesDialogAsync"
                                Disabled="@(!HasAnyItemSelected)">
                    <FluentIcon Value="@(new Icons.Regular.Size20.SlideAdd())" Slot="start" />
                    Create notes
                </FluentMenuItem>
            </FluentMenuButton>
            <FluentButton Disabled="@(!HasAnyItemSelected)"
                          IconStart="@(new Icons.Regular.Size20.Delete())">
                Delete
            </FluentButton>
        </div>
    </FluentToolbar>

    <FluentDivider Orientation="Orientation.Horizontal" />

    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8" Style="margin-top:8px">
        <FluentSearch @bind-Value="Keyword"
                      @bind-Value:after="RefreshDataAsync"
                      Immediate="true"
                      ImmediateDelay="500"
                      Placeholder="Search for headword"
                      Style="flex:1;" />
    </FluentStack>

    <FluentStack Orientation="Orientation.Vertical" Style="padding-top:10px">
        <FluentDataGrid TGridItem="LearningEntryGridItem"
                        @ref="@dataGrid"
                        Items="@GridItems"
                        Pagination="@pagination"
                        Loading="@IsRefreshing"
                        RefreshItems="RefreshItemsAsync"
                        DisplayMode="DataGridDisplayMode.Table"
                        GenerateHeader="GenerateHeaderOption.Sticky"
                        AutoFit="true"
                        ShowHover="true">
            <ChildContent>
                <SelectColumn TGridItem="LearningEntryGridItem"
                              SelectMode="DataGridSelectMode.Multiple"
                              Property="@(x => SelectedGridItemIds.Contains(x.Id))"
                              OnSelect="HandleSelectItem"
                              SelectAll="@(GridItems.All(i => SelectedGridItemIds.Contains(i.Id)))"
                              SelectAllChanged="HandleSelectAllChanged" />
                <PropertyColumn Title="Headword" Property="@(x => x.Headword)" />
                <PropertyColumn Title="Part of speech" Property="@(x => x.PartOfSpeech)" />
                <PropertyColumn Title="IPA" Property="@(x => x.Ipa)" />
                <PropertyColumn Title="Translation" Property="@(x => x.Translation)" />
                <PropertyColumn Title="Created date" Property="@(x => x.CreatedDate)" Format="yyyy-MM-dd" />
            </ChildContent>
            <EmptyContent>
                <FluentStack Orientation="Orientation.Horizontal"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             VerticalAlignment="VerticalAlignment.Center"
                             HorizontalGap="10">
                    <FluentIcon Value="@(new Icons.Filled.Size16.Crown())" Color="@Color.Accent" />
                    Nothing to see here. Carry on!
                </FluentStack>
            </EmptyContent>
        </FluentDataGrid>
        <FluentPaginator State="@pagination" Style="width:100%;margin-top:0">
            <SummaryTemplate>
                <FluentStack Orientation="Orientation.Horizontal"
                             HorizontalAlignment="HorizontalAlignment.SpaceBetween"
                             VerticalAlignment="VerticalAlignment.Center">
                    <div>
                        <strong>@pagination.TotalItemCount!.Value</strong> @("item".ToQuantity(pagination.TotalItemCount!.Value, ShowQuantityAs.None))
                        @if (HasAnyItemSelected)
                        {
                            <span> (<strong>@SelectedGridItemIds.Count</strong> @("item".ToQuantity(SelectedGridItemIds.Count, ShowQuantityAs.None)) selected)</span>
                        }
                    </div>

                    <FluentStack Orientation="Orientation.Horizontal"
                                 VerticalAlignment="VerticalAlignment.Center"
                                 HorizontalGap="8"
                                 Style="width:auto;">
                        Items per page
                        <FluentSelect TOption="Option<int>"
                                      Items="@itemsPerPageOptions"
                                      OptionText="@(p => p.Value.ToString())"
                                      Value="@(pagination.ItemsPerPage.ToString())"
                                      ValueChanged="async (e) => await pagination.SetItemsPerPageAsync(int.Parse(e))"
                                      Width="72px" />
                    </FluentStack>
                </FluentStack>
            </SummaryTemplate>
        </FluentPaginator>
    </FluentStack>
</div>