@using AnkiBridge.Web.Components.Abstractions
@using AnkiBridge.Web.Features.Flashcard.Models

@inherits DialogComponentBase<CreateNotesDialogContent>

<FluentDialogHeader ShowDismiss="true" Style="gap:0">
    <FluentLabel Typo="Typography.H3">
        @Dialog.Instance.Parameters.Title
    </FluentLabel>
</FluentDialogHeader>

<FluentDialogBody>
    <FluentEditForm EditContext="editContext" style="width:100%">
        <DataAnnotationsValidator />

        <FluentStack Orientation="Orientation.Horizontal">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="4">
                <FluentCombobox TOption="AnkiOption"
                                Autocomplete="ComboboxAutocomplete.Both"
                                SelectedOption="Form.SelectedNoteType"
                                SelectedOptionChanged="OnNoteTypeChangedAsync"
                                Name="TargetNoteType"
                                Label="Target note type"
                                Items="Form.NoteTypeOptions"
                                OptionText="@(o => o.Name)"
                                Height="200px"
                                Required="true"
                                Style="width:100%;" />
                <p class="button-link" style="margin-top:2px;font-size:12px;" onclick="@SyncNoteTypesAsync">
                    Missing note types? Sync with Anki
                </p>
                <FluentValidationMessage For="@(() => Form.SelectedNoteType)" />
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="4">
                <FluentCombobox TOption="AnkiOption"
                                Autocomplete="ComboboxAutocomplete.Both"
                                SelectedOption="Form.SelectedDeck"
                                SelectedOptionChanged="OnDeckChangedAsync"
                                Name="TargetDeck"
                                Label="Target deck"
                                Items="Form.DeckOptions"
                                OptionText="@(o => o.Name)"
                                Height="200px"
                                Required="true"
                                Style="width:100%;" />
                <p class="button-link" style="margin-top:2px;font-size:12px;" onclick="@SyncDecksAsync">
                    Missing decks? Sync with Anki
                </p>
                <FluentValidationMessage For="@(() => Form.SelectedDeck)" />
            </FluentStack>
        </FluentStack>
    </FluentEditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentStack HorizontalAlignment="HorizontalAlignment.Right">
        <FluentButton Appearance="Appearance.Accent"
                      OnClick="SubmitAsync"
                      Loading="isSubmitting"
                      Style="min-width:80px">
            Create
        </FluentButton>
        <FluentButton Appearance="Appearance.Neutral"
                      OnClick="@CancelAsync"
                      Style="min-width:80px">
            Cancel
        </FluentButton>
    </FluentStack>
</FluentDialogFooter>